html {
    font-size: 14px;
}

a {
    color: #5cb85c;
  }

.msg {
    margin: 0 auto;
    color: #444444;
    background-color: #f9f9f9;
    font-size: small;
    padding: 12px;
    padding-left: 16px;
    border-top: solid 3px #f77676;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.21);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.1);
         box-shadow: 0 5px 8px -6px rgba(0,0,0,.1);
}

.msg-success {
    border-color: #81dd47;
}
.msg-warning {
    border-color: rgba(178, 181, 25);
}
.msg-danger {
    border-color: #ca4040;
}
.msg-primary {
    border-color: #339bfc;
}

 /* MARKINGS */

 mark {
    color: black;
    font-weight: 600;
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.green-marker {
    background-image: linear-gradient(
      to right,
      rgba(30, 255, 0, 0.1),
      rgba(119, 255, 115, 0.4) 15%,
      rgba(81, 255, 0, 0.2)
    );
}

.yellow-marker {
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(248, 245, 63, 0.3) 15%,
      rgba(255, 225, 0, 0.2)
    );
}

.white-text {
    color:white;
}

.table td {
    vertical-align: middle !important;
    text-align: center !important;
}

.container {
	align-self: center;
	max-width: 1100px;
}

.container-sm {
	align-self: center;
}

.navbar .navbar-brand {
    padding-top: 10px;
  }

.navbar-nav .btn-sm {
    height: 22px;
    margin-top: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 600;
}

.shadow {
    border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
    box-shadow: rgba(0, 0, 0,.15) 0 3px 6px;
    -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
    -webkit-box-shadow: rgba(0, 0, 0,.15) 0 3px 6px;
}

/* PREDICTION */

.prediction-table {
	margin-left: auto;
    margin-right: auto;
	align-self: center;
	max-width: 500px;
}

select option {
    font-size: 14px;
    color: white;
    background-color: #292b2c;
}

.select-transparent {
    font-size: 15px;
    font-weight:500;
    text-align: center;
    vertical-align: middle;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
}

.position {
    width:8%;
    font-size: 15px;
    font-weight: 700;
}

.champion {
    background-color: rgb(221, 255, 224);
}

.runnerup {
    background-color: rgb(206, 239, 240);
}

.europe {
    background-color: rgb(224, 252, 255);
}

.playoffs {
    background-color: rgb(255, 255, 227);
}

.relegation {
    background-color: rgb(255, 206, 201);
}

/* DASHBOARD TABLE */
.table-responsive {
    width: 100%;
    white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
}

.standings tr {
	text-align: center;
	font-size: smaller;
 }

 .standings tr:last-child{
    font-weight: 700;
    font-size: 13px !important;
 }

.live-score {
    color:rgb(75, 75, 75);
}

.live-score-bold {
    font-weight: 600;
    color:rgb(75, 75, 75);
}

.bg-dark {
    background-color: rgb(37, 37, 37) !important
}